"*":
  autosave:
    enabled: true
  core:
    autoHideMenuBar: true
    packagesWithKeymapsDisabled: []
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "monokai"
    ]
    uriHandlerRegistration: "always"
  editor:
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "b72e9372-5541-47bf-81a6-b5b003aeb9a3"
  "git-diff": {}
  github:
    showDiffIconGutter: true
  "line-ending-selector":
    defaultLineEnding: "LF"
  welcome:
    showOnStartup: false
